/**
* @name Kiyono
* @version 0.0.1
* @description A cold, Kiyono theme!
* @author balon
* @source https://github.com/balon-mankind/Kiyono-v0.0.1/
*/

@import url("https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css");

:root {
--background-image: url('https://i.imgur.com/lXalOzx.jpg');
--background-image-blur: 6px;
--background-image-size: contain;
--background-image-position: center;

--popout-modal-image: url('https://i.imgur.com/ktoCegQ.jpg');
--popout-modal-blur: 3px;
--popout-modal-size: cover;
--popout-modal-position: center;

--home-button-image: url('https://i.imgur.com/233d55Y.gif');
--home-button-size: cover;
--home-button-position: center;


--serverlist-brightness: 0.6;
--left-brightness: 0.5;
--middle-brightness: 0.6;
--right-brightness: 0;
--popout-modal-brightness: 0.55;

--gradient-primary: 103,58,183;
--gradient-secondary: 63,81,181;
--gradient-direction: 320deg;

--tint-colour: 255,51,159;
--tint-brightness: 0;

--window-padding: 25px;
--window-roundness: 7px;

--scrollbar-colour: #ffffff0d;
--link-colour: #00b0f4;
--show-gift-gif-buttons: none;
--font: 'Whitney';
--update-notice-1: none;
}
